process.executor = 'slurm'
conda.enabled = true
process.queue = "nih_s10"
singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir = "/tmp"
process {
    withName: deepvariant_make_examples{
        container = '/oak/stanford/groups/smontgom/jonnguye/sif/deepvariant.sif'
        
    }
}
