process.executor = 'slurm'
conda.enabled = true
process.queue = "nih_s10"
singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir = "/tmp"

process {
    executor = 'slurm'
    queue = 'nih_s10'
    clusterOptions = '--account=smontgom'
    
    withName: pbmm2_align{
        conda = "pbmm2=1.10.0"
        cpus = 32
        memory = '128 GB'
        time = '1h'
    }
    
    withName: extract_read_length_and_qual{
        conda = "/home/jonnguye/micromamba/envs/python3"
        cpus = 1
        memory = '8 GB'
        time = '1h'
    }

    withName: pbsv_discover { 
        conda = "pbsv=2.9.0"
        cpus = 2
        memory = '8 GB'
        time = '1h'
    }

    withName: pbsv_call {
        conda = "pbsv=2.9.0"
        cpus = 8
        memory = '64 GB'
        time = '1h'
    }

    withName: zip_index {
        conda = 'htslib=1.18'
        cpus = 4
        memory = "4 GB"
        time = '1h'
    }

    withName: deepvariant_make_examples{
        container = "/oak/stanford/groups/smontgom/jonnguye/sif/deepvariant.sif"
        containerOptions = "--bind /local/scratch/"
        cpus = 16
        memory = '64 GB'
        time = '2h'
        maxForks = 8
    }

    withName: deepvariant_call_variants{
        container = "/oak/stanford/groups/smontgom/jonnguye/sif/deepvariant.sif"
        cpus=32
        memory = '128 GB'
        time = '2h'
    }
    
    withName: deepvariant_postprocess_variants{
        container = "/oak/stanford/groups/smontgom/jonnguye/sif/deepvariant.sif"
        cpus = 2
        memory = '32 GB'
        time = '2h'
    }

    withName: run_deepvariant {
        container = "/oak/stanford/groups/smontgom/jonnguye/sif/deepvariant.sif"
        containerOptions = '--bind /local/scratch/'
        cpus = 64
        memory = '256 GB'
        time = '4h'
    }

    withName: bcftools_on_deepvariant {
        conda = "bcftools=1.18"
        cpus = 4
        memory = '32 GB'
        time = '1h'
    }

    withName: hiphase {
        container = "/oak/stanford/groups/smontgom/jonnguye/sif/hiphase.sif"
        cpus = 16
        memory = '64 GB'
        time = '2h'
    }

    withName: mosdepth {
        conda = "mosdepth=0.3.5"
        cpus= 4
        memory = '8 GB'
        time = '2h'
    }

    withName: trgt {
        conda = "trgt=0.5.0"
        cpus = 4
        memory = '8 GB'
        time = '2h'
    }

    withName: sort_trgt_vcf {
        conda = "/home/jonnguye/micromamba/envs/common"
        cpus = 4
        memory = '8 GB'
        time = '2h'
    }

    withName: sort_trgt_bam {
        conda = "/home/jonnguye/micromamba/envs/common"
        cpus = 4
        memory = '8 GB'
        time = '2h'
    }

    withName: coverage_dropouts {
        conda = '/home/jonnguye/micromamba/envs/python3'
        cpus = 2
        memory = '8 GB'
        time = '1h'
    }

    withName: cpg_pileup {
        container = "/oak/stanford/groups/smontgom/jonnguye/sif/pb-cpg-tools.sif"
        cpus = 12
        memory = '48 GB'
        time = '1h'
    }

    withName: paraphase {
        container = "/oak/stanford/groups/smontgom/jonnguye/sif/paraphase.sif"
        cpus = 4
        memory = '8 GB'
        time = '1h'
    }

    withName: hificnv {
        container = "/oak/stanford/groups/smontgom/jonnguye/sif/hificnv.sif"
        cpus = 8
        memory = '16 GB'
        time = '1h'
    }

    

}
